<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Process Book</title>
    <link rel="stylesheet" type="text/css" href="../css/style.css">
    <script src = "../js/processing.js"></script>
</head>
<body>
    <div class="container">
    <header>
        <h1>Search Books</h1>
        <a href="home/booksList" id ="list">Books List</a>
    </header>
    <main>
        <h2  id="book_id"></h2>
        <form action="/home/booksList" method="get">
            <div>
                <label for="new" class="labelF" id="lbl">Add new Title and Author</label>
                <div>
                    <input type="text" class="inputF" id="new" name="new" placeholder="leave it empty for no processing">
                </div>
            </div>

            <textarea rows="8" cols="50" name="comments" id="com">Add some comments for the Book.</textarea>
            <input id="submit" type="submit" value="Submit"/>
        </form>

    </main>
    <footer>
        <p>Copyright &#169; 2021 Search Machine - All rights reserved</p>
    </footer>
    </div>
</body>
</html>