<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="css/login_style.css">
    <script src="https://smtpjs.com/v3/smtp.js"></script>
    <script src = "js/showPassword.js"></script>
</head>
<body>
    <header>
        <h1 id="name">
            <div id="icon">
                <i class="fas fa-book"></i>Books4u
            </div>
        </h1>
    </header>
        <h1 id="login">Sign Up</h1>
        <main>
            <form action="/users" method="POST">
                <div class="textbox">
                    <i class="fas fa-user"></i>
                    <input type="name" id="name_" name="name" placeholder="Name" required>
                </div>
                <div class="textbox">
                    <i class="fas fa-user"></i>
                    <input type="surname" id="surname" name="surname" placeholder="Surname" required>
                </div>
                <div class="textbox">
                    <i class="fas fa-envelope"></i>
                    <input type="email" id="email" name="email" placeholder="Email" required>
                </div>
                <div class="textbox">
                    <i class="fas fa-lock"></i>
                    <input type="password" id="password" name="password" placeholder="Password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters" required>
                    <i class="fas fa-eye" id="eye"></i>
                </div>
                <button type="submit" class="btn">Register</button>
            </form>
            <a href="/" id="register">Login</a>
        </main>
</body>
</html>